.content{
    border-radius: 5px;
    margin: auto;
    text-align: center;
}

.example-chip-list select{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(226, 224, 224);
    
}
.example-chip-list{
    width: 500px;
}