<div class="content">
    
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let n of nameAdd" [selectable]="selectable" [removable]="removable" (removed)="remove(n)">
                {{ n }}
                <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
            </mat-chip>
            <mat-chip class="select">
                <select (change)='select($event)'>
                    <option *ngFor='let element of list'>
                        <p>{{ element.name }} </p>
                    </option>
                </select>
            </mat-chip>
        </mat-chip-list>
    </mat-form-field>

    
</div>